/* Variables */
$bgcolor: #eee;

$violet: #6a5687;
$orange: #eb7239;
$bleu: #0c5b7a;
$rouge: #cc2d18;
$vert: #8E9C48;
$jaune: #C48A1B;
$marron: #5d4037;

$ombre: 0px 3px 4px rgba(50, 50, 50, 0.2);
$img-ombre: 0px 2px 6px rgba(50, 50, 50, 0.4);
$carousel-ombre: 0px 3px 3px rgba(50, 50, 50, 0.5);
$button-ombre: 0px 1px 1px rgba(50, 50, 50, 0.5);

$primary: $violet !default;
$secondary: #616161 !default;
$danger: $rouge;
$warning: $orange;
$info: $bleu;
$success: $vert;

/* Frameworks */
// @import 'frameworks/bootstrap3';
@import 'frameworks/bootstrap4';

/* Fonts */
@import 'fonts/fork-awesome';
@import 'fonts/dejavu-sans';
@import 'fonts/roboto';

/* Frama */
@import 'frama/bootstrap4';
@import '~vue-fs-commons/app/assets/scss/frama/common';

@import 'contact';
