<template>
  <div>
    <h1 v-html="$t('faq.title')"></h1>
    <div v-html="$t('faq.intro')"></div>

    <b-list-group
      v-for="key in Object.keys($t('faq')).filter(key => !/(intro|title|icon)/.test(key))"
      :id="getFramaname(key) !== undefined
        ? $t(getFramaname(key), '-tlL').replace(/[^a-z]/g, '')
        : key"
      :key="key"
    >
      <h2 class="mt-4">
        <icon
          :name="getSectionIcon(key)"
          :label="getFramaname(key) ? getFramaname(key) : $t(`faq.${key}.title`)"
        />
      </h2>
      <b-list-group-item
        v-for="id in Object.keys($t(`faq.${key}`)).filter(id => !/title/.test(id))"
        :key="id"
        :class="`${toggle === id ? 'fb_j0' : ''}`"
      >
        <h3 @click="toggle = id">
          <icon :name="`chevron-${toggle === id ? 'up' : 'down'} pull-right`" />
          <a :id="id"></a>
          <span v-html="$t(`faq.${key}['${id}'].q`)"></span>
        </h3>
        <div v-show="id === toggle">
          <div v-html="$t(`faq.${key}['${id}'].a`)"></div>

          <p class="text-right">
            <a :href="`#${id}`">
              <icon name="link text-muted" />
            </a>
          </p>
        </div>
      </b-list-group-item>
    </b-list-group>
  </div>
</template>

<script>
export default {
  data() {
    return {
      toggle: window.location.hash.replace(/^#/, ''),
    };
  },
  methods: {
    getFramaname(key) {
      return this.$te(`color.${this.$t(key, '-k~lL@')}`)
        ? this.$t(`color.${this.$t(key, '-k~lL@')}`)
        : undefined;
    },
    getSectionIcon(key) {
      let icon = 'fa-question-circle';
      if (this.$te(`icon.${this.$t(key, '-k~L@')}`)) {
        icon = this.$t(`icon.${this.$t(key, '-k~L@')}`);
      }
      if (this.$te(`faq.icon.${key}`)) {
        icon = this.$t(`faq.icon.${key}`);
      }
      return icon;
    },
  },
};
</script>
