<template>
  <div class="home">
    <h1 v-html="$t('home.title')"></h1>
    <b-row class="px-0 mb-4">
      <b-col
        md="8"
        class="alert alert-danger mx-auto"
        v-html="$t('home.status')"
      />
      <b-col
        id="menu"
        md="6"
      >
        <b-list-group>
          <b-list-group-item
            href="#aide"
            onclick="return false"
            @click="section = 'aide'; $scrollTo('#sections'); form.concerne = ''"
          >
            <icon
              :name="$t('icon.aide')"
              name2="circle"
              variant="fa-inverse"
              variant2="text-success"
              size="2x pull-left mr-2"
            />
            <span
              class="h4"
              v-html="$t('home.menu.aide[0]')"
            ></span>
            <span
              v-html="$t('home.menu.aide[1]')"
            ></span>
          </b-list-group-item>
          <b-list-group-item
            href="#participer"
            onclick="return false"
            @click="section = 'participer'; $scrollTo('#sections'); form.concerne = 'Participer'"
          >
            <icon
              name="paw"
              name2="circle"
              variant="fa-inverse"
              variant2="text-info"
              size="2x pull-left mr-2"
            />
            <span
              class="h4"
              v-html="$t('home.menu.participer[0]')"
            ></span>
            <span
              v-html="$t('home.menu.participer[1]')"
            ></span>
          </b-list-group-item>
          <b-list-group-item
            href="#soutenir"
            onclick="return false"
            @click="section = 'soutenir'; $scrollTo('#sections'); form.concerne = 'Soutenir'"
          >
            <icon
              name="heart"
              name2="circle"
              variant="fa-inverse"
              variant2="fc_j6"
              size="2x pull-left mr-2"
            />
            <span
              class="h4"
              v-html="$t('home.menu.soutenir[0]')"
            ></span>
            <span
              v-html="$t('home.menu.soutenir[1]')"
            ></span>
          </b-list-group-item>
          <b-list-group-item
            href="#general"
            onclick="return false"
            @click=" section = 'general'; $scrollTo('#sections'); form.concerne = ''"
          >
            <icon
              name="envelope"
              name2="circle"
              variant="fa-inverse"
              variant2="text-warning"
              size="2x pull-left mr-2"
            />
            <span
              class="h4"
              v-html="$t('home.menu.general[0]')"
            ></span>
            <span
              v-html="$t('home.menu.general[1]')"
            ></span>
          </b-list-group-item>
          <b-list-group-item
            :href="$t('link.cuo')"
          >
            <icon
              name="bicycle"
              name2="circle"
              variant="fa-inverse"
              variant2="text-primary"
              size="2x pull-left mr-2"
            />
            <span
              class="h4"
              v-html="$t('txt.cuo')"
            ></span>
            <span v-html="$t('home.menu.campagne[0]')"></span>
          </b-list-group-item>
        </b-list-group>
      </b-col>
      <b-col md="6">
        <b-card bg-variant="light">
          <b-card-body v-html="$t('home.intro')" />
        </b-card>
      </b-col>
    </b-row>

    <!--
      An anchor is needed because
      sections are invisible for scrollto()
    -->
    <a id="sections"></a>

    <Help
      v-show="section === 'aide'"
      :concern="form.concerne"
    />

    <Participate v-show="section === 'participer'" />

    <Support v-show="section === 'soutenir'" />

    <General v-show="section === 'general'" />

    <section
      v-if="success.status === ''"
      id="contactForm"
      :class="`clearfix ${
        (section === '' || (section === 'aide' && form.concerne === ''))
          ? 'disabled'
          : ''}`"
    >
      <h2 v-html="$t('home.form.title')"></h2>

      <p
        v-if="section === ''"
        class="text-muted"
        v-html="`${$t('home.form.warning[0]')} ${
          $t('home.form.warning[1]')} ${
          $t('home.form.warning[3]')}`"
      ></p>

      <p
        v-if="section === 'aide' && form.concerne === ''"
        class="text-muted"
        v-html="`${$t('home.form.warning[0]')} ${
          $t('home.form.warning[2]')} ${
          $t('home.form.warning[3]')}`"
      ></p>

      <b-card bg-variant="light">
        <b-form @submit="sendMail">
          <div>
            <!-- Name -->
            <b-form-group
              id="f-cf-name-wrapper"
              label-for="f-cf-name"
              label-sr-only
              :label="`${$t('home.form.name')} (${$t('home.form.required')})`"
            >
              <b-input-group>
                <b-input-group-prepend>
                  <icon
                    name="user"
                    size="lg fa-fw"
                  />
                </b-input-group-prepend>
                <b-form-input
                  id="f-cf-name"
                  v-model="form['your-name']"
                  :placeholder="$t('home.form.name')"
                  type="text"
                  required
                  trim
                  :state="ok.name"
                  @focusout="check('name')"
                />
              </b-input-group>
            </b-form-group>

            <!-- Email -->
            <b-form-group
              id="f-cf-email-wrapper"
              label-for="f-cf-email"
              label-sr-only
              :label="`${$t('home.form.email')} (${$t('home.form.required')})`"
            >
              <b-input-group>
                <b-input-group-prepend>
                  <icon
                    name="envelope-o"
                    size="lg fa-fw"
                  />
                </b-input-group-prepend>
                <b-form-input
                  id="f-cf-email"
                  v-model="form['your-email']"
                  :placeholder="$t('home.form.email')"
                  type="email"
                  required
                  trim
                  :state="ok.email"
                  @focusout="check('email')"
                />
              </b-input-group>
              <p
                class="alert"
                v-html="$t('home.alert.email')"
              ></p>
            </b-form-group>
          </div>
          <div>
            <!-- Subject -->
            <b-form-group
              id="f-cf-subject-wrapper"
              label-for="f-cf-subject"
              label-sr-only
              :label="`${$t('home.form.subject')} (${$t('home.form.required')})`"
            >
              <b-input-group>
                <b-input-group-prepend>
                  <icon
                    name="question"
                    size="lg fa-fw"
                  />
                </b-input-group-prepend>
                <b-form-input
                  id="f-cf-subject"
                  v-model="form['your-subject']"
                  :placeholder="$t('home.form.subject')"
                  type="text"
                  required
                  trim
                  :state="ok.subject"
                  @focusout="check('subject')"
                />
              </b-input-group>
            </b-form-group>

            <!-- Concern -->
            <b-form-group
              v-show="section !== 'contact-participate'"
              id="f-cf-concerne-wrapper"
              label-for="f-cf-concerne"
              label-sr-only
              :label="`${$t('home.form.concerne')} (${$t('home.form.required')})`"
            >
              <b-input-group>
                <b-input-group-prepend>
                  <icon
                    name="crosshairs"
                    size="lg fa-fw"
                  />
                </b-input-group-prepend>
                <b-form-select
                  id="f-cf-concerne"
                  v-model="form.concerne"
                  required
                  @focusout="check('concerne')"
                >
                  <option
                    v-if="section === 'aide' && rt.includes($t(form.concerne, '-k~lL@'))
                      || /(participer|soutenir)/.test(section)"
                    :value="form.concerne"
                    v-text="form.concerne"
                  ></option>
                  <option
                    value=""
                    v-text="'---'"
                  ></option>
                  <option
                    value="Annonce d'un événement libre"
                    v-text="$t('home.concerne[0]')"
                  ></option>
                  <option
                    value="Invitation à un événement"
                    v-text="$t('home.concerne[1]')"
                  ></option>
                  <option
                    value="Partenariat"
                    v-text="$t('home.concerne[2]')"
                  ></option>
                  <option
                    value="Contact presse"
                    v-text="$t('home.concerne[3]')"
                  ></option>
                  <option
                    value="Newsletter"
                    v-text="$t('home.concerne[4]')"
                  ></option>
                  <option
                    value="Questions sur l'association"
                    v-text="$t('home.concerne[5]')"
                  ></option>
                  <option
                    value="Prestation / Emploi : réponse ou candidature spontanée"
                    v-text="$t('home.concerne[6]')"
                  ></option>
                </b-form-select>
              </b-input-group>
            </b-form-group>

            <!-- Message -->
            <b-form-group
              id="f-cf-message-wrapper"
              label-for="f-cf-message"
              label-sr-only
              :label="`${$t('home.form.message')} (${$t('home.form.required')})`"
            >
              <b-input-group>
                <b-input-group-prepend>
                  <icon
                    name="pencil"
                    size="lg fa-fw"
                  />
                </b-input-group-prepend>
                <b-form-textarea
                  id="f-cf-message"
                  v-model="form['your-message']"
                  :placeholder="$t('home.form.message')"
                  cols="40"
                  rows="10"
                  required
                  @focusin="bienveillance = true"
                  @focusout="check('message')"
                />
                <p
                  v-show="bienveillance"
                  class="alert alert-info col-12 mx-0"
                  v-html="$t('home.alert.kindness', icons)"
                ></p>
                <div v-if="section === 'contact-faq'">
                  <p
                    v-for="(alert, id) in $t('home.alert')"
                    v-show="form.concerne === $t(`txt.${id}`)"
                    :key="id"
                    class="alert alert-warning col-12 mx-0"
                    v-html="$t(`contact.alert.${id}`)"
                  ></p>
                  <p
                    class="alert alert-danger col-12 mx-0"
                    v-html="$t('home.alert.mdp')"
                  ></p>
                </div>
              </b-input-group>
            </b-form-group>

            <!-- File -->
            <b-form-group
              id="f-cf-file-wrapper"
              label-for="f-cf-file"
              label-sr-only
              :label="`${$t('home.form.file')} (${$t('home.form.optional')})`"
            >
              <b-input-group
                :title="`${$t('home.form.fileHelp')} ${ext.join(', ')}`"
              >
                <b-input-group-prepend>
                  <icon
                    name="paperclip"
                    size="lg fa-fw"
                  />
                </b-input-group-prepend>
                <b-form-file
                  id="f-cf-file"
                  v-model="form['your-file']"
                  plain
                  :accept="ext.join()"
                />
              </b-input-group>
            </b-form-group>
          </div>

          <!-- Submit -->
          <b-button
            type="submit"
            block
            variant="outline-warning text-center mb-3 border border-warning"
            v-html="$t('home.form.submit')"
          />
        </b-form>
      </b-card>
    </section>

    <section
      v-if="success.status === 'mail_sent'"
      class="confirm"
    >
      <p class="text-center">
        <icon
          name="check fc_v5"
          name2="circle-thin fc_v5"
          size="5x"
        />
      </p>
      <p
        class="alert"
        v-html="$t('home.alert.sent')"
      ></p>
    </section>

    <section
      v-if="/failed$/.test(success.status)"
      class="confirm"
    >
      <p class="text-center">
        <icon
          name="times fc_r5"
          name2="circle-thin fc_r5"
          size="5x"
        />
      </p>
      <p
        class="alert"
        v-html="$t('home.alert.failed')"
      ></p>
    </section>
  </div>
</template>

<script>
import Help from './home/Help.vue';
import Participate from './home/Participate.vue';
import Support from './home/Support.vue';
import General from './home/General.vue';

export default {
  components: {
    Help,
    Participate,
    Support,
    General,
  },
  data() {
    return {
      rt: this.$t('cols')[0].concat(this.$t('cols')[1]).concat(this.$t('cols')[2]),
      bienveillance: false,
      section: '',
      icons: {
        gafam: `
          <span aria-hidden="true" title="Google, Apple, Facebook, Amazon, Microsoft">
            <i class="fa fa-google"></i>
            <i class="fa fa-apple"></i>
            <i class="fa fa-facebook"></i>
            <i class="fa fa-amazon"></i>
            <i class="fa fa-windows"></i>
          </span>
          <span class="sr-only">Google, Apple, Facebook, Amazon, Microsoft</span>
        `,
      },
      ext: [
        '.gif', '.png', '.jpg', '.jpeg', '.svg', '.pdf', '.txt', '.doc',
        '.docx', '.pps', '.ppt', '.pptx', '.odt', '.odg', '.odp', '.log',
        '.rtf', '.tex', '.csv', '.xls', '.xslx', '.vcf', '.xml', '.gpx',
        '.css', '.gz',
      ],
      form: {
        _wpcf7: '423',
        _wpcf7_version: '5.1.1',
        _wpcf7_locale: 'en_US',
        _wpcf7_unit_tag: 'wpcf7-f423-p5-o1',
        _wpcf7_container_post: '5',
        'g-recaptcha-response': '',
        'mailou-158': '',
        'your-name': '',
        'your-email': '',
        concerne: '',
        'your-subject': '',
        'your-message': '',
        'your-file': null,
        'your-referrer': `${document.referrer};${document.location.href}`,
        'your-languages': window.navigator.languages,
      },
      ok: {
        name: null,
        email: null,
        subject: null,
        message: null,
      },
      success: {
        into: '',
        message: '',
        status: '',
      },
      submit: false,
    };
  },
  mounted() {
    if (/^(general|presse|newsletter)/.test(this.$t('hash'))) {
      this.section = 'general';
    }
    if (/^(soutenir|dons|soutien|support)/.test(this.$t('hash'))) {
      this.section = 'soutenir';
      this.form.concerne = 'Soutenir';
    }
    if (/^(participer|participate)/.test(this.$t('hash'))) {
      this.section = 'participer';
      this.form.concerne = 'Participer';
    }
    if (/^(help|aide)/.test(this.$t('hash'))) {
      this.section = 'aide';
    }
    if (/^(press)/.test(this.$t('hash'))) {
      this.section = 'general';
      this.form.concerne = 'Contact presse';
    }
    if (/^(newsletter)/.test(this.$t('hash'))) {
      this.section = 'general';
      this.form.concerne = 'Newsletter';
    }
    // Framatrucs
    if (this.$te(`txt.${this.$t('hash', '-~L@')}`)) {
      this.section = 'aide';
      this.form.concerne = this.$t(`txt.${this.$t('hash', '-~L@')}`);
    }
  },
  methods: {
    fileUpload() {
      [this.form['your-file']] = [this.$refs.file.files[0]];
    },
    check(input) {
      const el = document.getElementById(`f-cf-${input}`);
      switch (input) {
        case 'email':
          if (el.validity.valueMissing) {
            this.ok.email = false;
            el.setCustomValidity(this.$i18n.messages[this.$i18n.locale].home.form.error_empty);
          } else if (el.validity.typeMismatch) {
            this.ok.email = false;
            el.setCustomValidity(this.$i18n.messages[this.$i18n.locale].home.form.error_email);
          } else {
            this.ok.email = true;
            el.setCustomValidity('');
          }
          break;
        default:
          if (el.validity.valueMissing) {
            this.ok[input] = false;
            el.setCustomValidity(this.$i18n.messages[this.$i18n.locale].home.form.error_empty);
          } else {
            this.ok[input] = true;
            el.setCustomValidity('');
          }
          break;
      }
    },
    sendMail(e) {
      if (!this.submit) {
        this.submit = true;
        const sendData = new FormData();
        Object.entries(this.form).map(([key, val]) => sendData.append(key, val));

        fetch('https://contact.framasoft.org/wp-json/contact-form-7/v1/contact-forms/423/feedback', {
          method: 'POST',
          body: sendData,
        }).then(res => res.json())
          .then((data) => { this.success = data; })
          .catch(err => console.error(err)); // eslint-disable-line
      }
      e.preventDefault();
    },
  },
};
</script>
