<template>
  <div>
    <h1 v-html="$t('newsletter.title')"></h1>
    <div v-html="$t('newsletter.intro')"></div>

    <div class="clearfix mb-2">
      <b-form
        method="post"
        name="subscribeform"
        action="https://contact.framasoft.org/php_list/lists/?p=subscribe&amp;id=2"
      >
        <b-input-group
          class="col-md-6 mx-auto mb-3"
        >
          <b-form-input
            name="email"
            type="email"
            size="40"
            :title="$t('newsletter.type-your-email')"
            :placeholder="$t('newsletter.your-email')"
          />
          <b-input-group-append>
            <b-button
              variant="primary"
              name="subscribe"
              type="submit"
              value="subscribe"
            >
              <span v-html="$t('newsletter.subscribe')"></span>
            </b-button>
          </b-input-group-append>
        </b-input-group>
        <input
          name="htmlemail"
          value="1"
          type="hidden"
        />
        <input
          name="list[5]"
          value="signup"
          type="hidden"
        />
        <input
          name="listname[5]"
          value="Newsletter"
          type="hidden"
        />
        <div style="display: none;">
          <input
            name="VerificationCodeX"
            size="20"
            value=""
            type="text"
          />
        </div>
      </b-form>
    </div>
    <p
      v-html="$t('newsletter.nb', {
        link: 'https://contact.framasoft.org/php_list/lists/?p=unsubscribe'
      })"
    ></p>
    <b-row>
      <b-col lg="6">
        <a name="archives"></a>
        <h2 v-html="$t('newsletter.archives')"></h2>
        <b-list-group>
          <b-list-group-item
            v-for="(day, index) in nl"
            :key="index"
            :href="`${$t('/')}nl/newsletter${nl.length - index}.html`"
          >
            <span
              v-html="`${$t('newsletter.title')
              } n°${nl.length - index} - ${
                (new Date(day)).toLocaleDateString($t('lang'), {
                  year: 'numeric',
                  month: 'long'
                })}`"
            ></span>
          </b-list-group-item>
        </b-list-group>
      </b-col>
      <b-col lg="6">
        <h3 v-html="$t('newsletter.hs')"></h3>
        <b-list-group>
          <b-list-group-item
            v-for="(day, i) in hs"
            :key="i"
            :href="`${$t('/')}nl/newsletterHS0${hs.length - i}.html`"
          >
            <span
              v-html="`${$t('newsletter.title')} ${ $t('newsletter.hs', '-l')
              } n°${hs.length - i} - ${
                (new Date(day)).toLocaleDateString($t('lang'), {
                  year: 'numeric',
                  month: 'long'
                })}`"
            ></span>
          </b-list-group-item>
        </b-list-group>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  data() {
    return {
      nl: [
        '2020-05-06',
        '2019-12-09', '2019-10-16',
        '2018-12-01', '2018-10-29', '2018-07-02', '2018-05-05',
        '2017-12-13', '2017-10-14', '2017-06-01', '2017-03-24',
        '2016-12-16', '2016-10-14', '2016-06-18', '2016-04-06',
        '2015-12-10', '2015-10-28', '2015-06-23', '2015-04-01',
        '2014-10-24', '2014-06-30',
        '2011-12-02', '2011-06-07',
        '2010-12-13',
      ],
      hs: [
        '2018-01-25',
        '2017-09-28',
      ],
    };
  },
};
</script>
