<template>
  <section id="general">
    <hr class="alert alert-warning border-0 rounded-0" />
    <a
      id="press"
      class="invisible"
    ></a>
    <a
      id="newsletter"
      class="invisible"
    ></a>
    <h2 v-html="$t('home.menu.general[0]')"></h2>
    <b-row
      align-h="center"
      class="mx-0"
    >
      <b-col lg="8">
        <icon
          size="4x d-block mb-3 text-center"
          name="question-circle text-warning"
        />
        <h3 v-html="$t('home.faq')"></h3>
        <ul id="faq_asso">
          <li
            v-for="id in Object.keys($t('faq.asso')).filter(i => !/title/.test(i))"
            :key="id"
          >
            <router-link
              :to="`/${$t('lang')}/faq/#${id}`"
              v-html="$t(`faq.asso.${id}.q`)"
            />
          </li>
        </ul>
      </b-col>
    </b-row>
    <hr class="alert alert-warning border-0 rounded-0" />
  </section>
</template>
