<template>
  <section id="aide">
    <hr class="alert alert-success border-0 rounded-0" />
    <h2 v-html="$t('home.aide.title')"></h2>
    <b-row class="mx-0">
      <b-col
        v-for="(col, index) in this.$t('cols')"
        :key="index"
        md="4"
      >
        <b-list-group>
          <b-list-group-item
            v-for="id in col"
            :key="id"
            button
            :class="`${$t(`txt.${id}`, '-L@')}${
              $t(concern, '-~klL@') === $t(`txt.${id}`, '-~Ll@')
                ? ' fb_g2'
                : ''}`"
            :title="$t(`desc.${id}`)"
            @click="$parent.form.concerne = $t(`txt.${id}`)"
          >
            <icon
              v-if="$t(concern, '-~klL@') === $t(`txt.${id}`, '-~Ll@')"
              name="check pull-right"
            />
            <icon
              size="lg fa-fw"
              :name="$t(`icon.${id}`)"
              :label="$t(`color.${id}`)"
            />
          </b-list-group-item>
        </b-list-group>
      </b-col>
    </b-row>
    <b-row
      align-h="center"
      class="mx-0"
    >
      <b-col
        lg="8"
        align-self="center"
      >
        <icon
          size="4x d-block mb-3 text-center"
          name="question-circle text-success"
        />
        <h3 v-html="$t('home.faq')"></h3>
        <ul id="faq_autre">
          <li
            v-for="id in Object.keys($t('faq.autre')).filter(i => !/title/.test(i))"
            :key="id"
          >
            <router-link
              :to="`/${$t('lang')}/faq/#${id}`"
              v-html="$t(`faq.autre.${id}.q`)"
            />
          </li>
        </ul>
        <div
          v-for="section in Object.keys($t('faq')).filter(key => getFramaname(key))"
          v-show="$t(concern, '-kt~lL@') === $t(getFramaname(section), '-kt~lL@')"
          :key="section"
        >
          <h4>
            … concernant
            <span
              v-html="getFramaname(section) === undefined
                ? $t(`faq.${section}.title`)
                : getFramaname(section)"
            ></span>
          </h4>
          <ul>
            <li
              v-for="id in Object.keys($t(`faq.${section}`)).filter(i => !/title/.test(i))"
              :key="id"
            >
              <router-link
                :to="`/${$t('lang')}/faq/#${id}`"
                v-html="$t(`faq.${section}.${id}.q`)"
              />
            </li>
          </ul>
        </div>
      </b-col>
    </b-row>
    <hr class="alert alert-success border-0 rounded-0" />
  </section>
</template>

<script>
export default {
  props: {
    concern: {
      type: String,
      required: true,
    },
  },
  methods: {
    getFramaname(key) {
      return this.$te(`color.${this.$t(key, '-k~lL@')}`)
        ? this.$t(`color.${this.$t(key, '-k~lL@')}`)
        : undefined;
    },
  },
};
</script>
