<template>
  <section id="participer">
    <hr class="alert alert-info border-0 rounded-0" />
    <h2 v-html="$t('home.participer.title')"></h2>
    <h3 v-html="$t('home.participer.dev.title')"></h3>
    <b-card bg-variant="light">
      <b-card-body>
        <p
          v-for="index in Object.keys($t('home.participer.dev.intro'))"
          :key="index"
          v-html="$t(`home.participer.dev.intro[${index}]`, icons)"
        ></p>
      </b-card-body>
    </b-card>
    <b-row class="mt-4">
      <b-col
        v-for="(col, index) in cols"
        :key="index"
        md="6"
      >
        <table
          class="table table-bordered"
          role="presentation"
        >
          <tbody>
            <tr
              v-for="id in col.filter(i => ($te(`git.${i}`) || $te(`src.${i}`)))"
              :key="id"
            >
              <td :class="$t(`txt.${id}`, '-tL@')">
                <i
                  :class="`fa fa-fw fa-lg ${$t(`icon.${id}`)}`"
                  aria-hidden="true"
                ></i>
                <span v-html="$t(`color.${id}`)"></span>
                <a
                  v-if="$te(`git.${id}`)"
                  :href="`${$t(`git.${id}`)}/issues`"
                  class="pull-right"
                  v-html="icons.git"
                ></a>
              </td>
              <td v-if="$te(`src.${id}`)">
                <span v-html="$t(`soft.${id}`)"></span>
                <a
                  :href="$t(`src.${id}`)"
                  class="pull-right"
                  v-html="icons.source"
                ></a>
              </td>
              <td v-else></td>
            </tr>
          </tbody>
        </table>
      </b-col>
    </b-row>
    <h3 v-html="$t('home.participer.other.title')"></h3>
    <b-row
      align-h="center"
      class="mx-0"
    >
      <b-col lg="8">
        <icon
          size="4x d-block mb-3 text-center"
          name="question-circle text-info"
        />
        <h4 v-html="$t('home.faq')"></h4>
        <ul id="faq_benevolat">
          <li
            v-for="id in Object.keys($t('faq.benevolat')).filter(i => !/title/.test(i))"
            :key="id"
          >
            <router-link
              :to="`/${$t('lang')}/faq/#${id}`"
              v-html="$t(`faq.benevolat.${id}.q`)"
            />
          </li>
        </ul>
      </b-col>
    </b-row>
    <hr class="alert alert-info border-0 rounded-0" />
  </section>
</template>

<script>
export default {
  data() {
    return {
      cols: [this.$t('cols')[0].concat(this.$t('cols')[1]), this.$t('cols')[2]],
      icons: {
        git: `<i class="fa fa-lg fa-git" aria-hidden="true"></i>
          <span class="sr-only">git</span>`,
        source: `<i class="fa fa-lg fa-code-fork" aria-hidden="true"></i>
          <span class="sr-only">source</span>`,
      },
    };
  },
};
</script>
