<template>
  <section id="soutenir">
    <hr class="alert border-0 rounded-0 fb_j1" />
    <h2 v-html="`${$t('home.menu.soutenir[0]')} ${$t('home.menu.soutenir[1]')}`"></h2>
    <b-row
      align-h="center"
      class="mx-0"
    >
      <b-col lg="8">
        <icon
          size="4x d-block mb-3 text-center"
          name="question-circle fc_j6"
        />
        <h3 v-html="$t('home.faq')"></h3>
        <ul id="faq_les_dons">
          <li
            v-for="id in Object.keys($t('faq.les_dons')).filter(i => !/title/.test(i))"
            :key="id"
          >
            <router-link
              :to="`/${$t('lang')}/faq/#${id}`"
              v-html="$t(`faq.les_dons.${id}.q`)"
            />
          </li>
        </ul>
      </b-col>
    </b-row>
    <hr class="alert border-0 rounded-0 fb_j1" />
  </section>
</template>
