<template>
  <header role="banner">
    <div class="pull-right">
      <I18n />
    </div>
    <h1 class="sitename">
      <router-link
        :to="`/${$t('lang')}/`"
        v-html="`${$t('meta.title')} ${$t('color.soft')}`"
      />
    </h1>
    <hr
      class="trait"
      role="presentation"
    />
    <Menu />
  </header>
</template>

<script>
import I18n from './I18n.vue';
import Menu from './Menu.vue';

export default {
  components: {
    I18n,
    Menu,
  },
};
</script>

