<template>
  <b-navbar variant="light mb-4">
    <b-navbar-nav>
      <b-nav-item
        router-tag="li"
        active-class="active"
        exact
        :to="`/${$t('lang')}/`"
      >
        <span v-html="$t('home.title')"></span>
      </b-nav-item>
      <b-nav-item
        router-tag="li"
        active-class="active"
        :to="`/${$t('lang')}/faq`"
      >
        <span v-html="$t('faq.title')"></span>
      </b-nav-item>
      <b-nav-item :href="$t('link.docs')">
        <span v-html="$t('documentation')"></span>
      </b-nav-item>
      <b-nav-item :href="$t('link.colibri')">
        <span v-html="$t('forum')"></span>
      </b-nav-item>
      <b-nav-item
        router-tag="li"
        active-class="active"
        :to="`/${$t('lang')}/irc`"
      >
        <span v-html="$t('irc.title')"></span>
      </b-nav-item>
      <b-nav-item
        routeur-tag="li"
        active-class="active"
        :to="`/${$t('lang')}/newsletter`"
      >
        <span v-html="$t('newsletter.title')"></span>
      </b-nav-item>
      <b-nav-item :href="$t('link.status')">
        <span v-html="$t('status')"></span>
      </b-nav-item>
    </b-navbar-nav>
  </b-navbar>
</template>
